/* Write your CSS code here */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-heading {
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
}
